<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
</head>
<body>
  <h2>Dashboard</h2>
  <p><a href="/emergency">Register Emergency</a> | <a href="/logout">Logout</a></p>

  <div id="assigned"></div>
  <div id="map" style="height:400px"></div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="/static/js/dashboard.js"></script>
</body>
</html>
